<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>New Product</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        .btn-save {
            display: block;
            width: 10%;
            font-size: 1.3em;
            margin-top: 20px;
        }
        .error {
            color: red;
        }
    </style>
</head>
<body>
<div class="container">
    <h1 class="mt-4">상품 추가</h1>
    <form th:action="@{/products}" th:object="${product}" method="post">
        <div class="form-group">
            <label>Name:</label>
            <input type="text" class="form-control" th:field="*{name}" required/>
            <div class="error" th:if="${valid_name}" th:text="${valid_name}"></div>
        </div>
        <div class="form-group">
            <label>Price:</label>
            <input type="number" class="form-control" th:field="*{price}" required/>
            <div class="error" th:if="${valid_price}" th:text="${valid_price}"></div>
        </div>
        <div class="form-group">
            <label>Image URL:</label>
            <input type="url" class="form-control" th:field="*{imageurl}" required/>
            <div class="error" th:if="${valid_imageurl}" th:text="${valid_imageurl}"></div>
        </div>
        <button type="submit" class="btn btn-success btn-save">Save</button>
    </form>
</div>
</body>
</html>
