<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>상품 관리자 페이지</title>
</head>
<body>
  <h1>gift 상품 주문 관리자 페이지</h1>


  <table>
    <tbody>
      <tr th:each="product : ${products}">
        <td> <span th:text="|id : ${product.id}|">아이디</span></td>
        <td> <span th:text="|name : ${product.name}|">상품명</span></td>
        <td> <span th:text="|price : ${product.price}|">가격</span></td>
        <td> <span th:text="|imageUrl : ${product.imageUrl}|">이미지</span></td>
        <td>
          <form th:action="@{/admin/{id}(id=${product.id})}" th:object="${productDTO}" method="#" th:method="put">
            <div>
              <label for="fixName">상품 이름</label>
              <input type="text" id="fixName" th:field="*{name}">
            </div>
            <div>
              <label for="fixPrice">상품 가격</label>
              <input type="text" id="fixPrice" th:field="*{price}">
            </div>
            <div>
              <label for="fixImg">상품 이미지</label>
              <input type="text" id="fixImg" th:field="*{imageUrl}">
            </div>
            <button type="submit">수정하기</button>
          </form>

          <form th:action="@{/admin/{id}(id=${product.id})}" method="#" th:method="delete">
            <button type="submit">삭제하기</button>
          </form>
        </td>
      </tr>
    </tbody>

  </table>



  <form action="/admin" th:action th:object="${productDTO}" method="post">

    <div>
      <label for="productName">상품명</label>
      <input type="text" id="productName" th:field="*{name}">
    </div>
    <div>
      <label for="productPrice">가격</label>
      <input type="text" id="productPrice" th:field="*{price}">
    </div>
    <div>
      <label for="productImgUrl">이미지주소</label>
      <input type="text" id="productImgUrl" th:field="*{imageUrl}">
    </div>
    <button type="submit">상품 추가하기</button>
  </form>



</body>
</html>