<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
  <title>admin - login processing...</title>
</head>
<body>
<form th:action method="post" id="form">
  <input type="hidden" name="accessToken" th:value="${accessToken}">
</form>
</body>
<script th:inline="javascript">
  let accessToken = [[${accessToken}]];
  localStorage.setItem("accessToken", accessToken);
  let form = document.getElementById("form");
  form.submit();
</script>
</html>