<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
  <title>admin - login</title>
</head>
<body>
<div class="container"
     style="display: flex; flex-direction: column; justify-content: center; margin-top: 50px;">
  <h2 class="py-4 text-center border-bottom mb-5">관리자 로그인</h2>
  <div class="d-flex justify-content-center">
    <form th:action method="post" class="d-flex justify-content-between align-items-center p-3"
          style="width: 100%; max-width: 700px;">
      <div class="d-flex flex-column justify-content-center align-items-center me-5"
           style="flex-basis: 60%">
        <div class="d-flex justify-content-around align-items-center p-1 w-100">
          <label for="email"
                 class="d-flex justify-content-center align-items-center me-3 w-25">이메일</label>
          <input type="text" id="email" name="email" class="form-control" placeholder="이메일을 입력하세요."
                 style="max-width: 500px;">
        </div>
        <div class="d-flex justify-content-around align-items-center p-1 w-100">
          <label for="password" class="d-flex justify-content-center align-items-center me-3 w-25">비밀번호</label>
          <input type="password" id="password" name="password" class="form-control"
                 placeholder="비밀번호를 입력하세요." style="max-width: 500px;">
        </div>
      </div>
      <div class="col d-flex justify-content-center align-items-center"
           style="flex-basis: 30%; height: 100%;">
        <button class="btn btn-primary w-100 h-100" type="submit">등록</button>
      </div>
    </form>
  </div>
</div>
</body>
</html>