<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>상품 수정</title>
    <link th:href="@{/add.css}" rel="stylesheet"/>

</head>
<body>
<form class="container" th:action="@{/edit}" th:object="${product}" method="post">
    <h1>상품 수정</h1>
    <label for="id">ID:</label>
    <input type="text" id="id" th:field="*{id}" readonly/><br/>
    <label for="name">Name:</label>
    <input type="text" id="name" th:field="*{name}" required/><br/>
    <label for="price">Price:</label>
    <input type="text" id="price" th:field="*{price}" required/><br/>
    <label for="imageUrl">Image URL:</label>
    <input type="text" id="imageUrl" th:field="*{imageUrl}" required/><br/>
    <button type="submit">수정</button>
</form>
</body>
</html>
