<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>상품 목록</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <h1 class="mb-4">상품 목록</h1>
    <a href="#" th:href="@{/products/new}" class="btn btn-primary mb-3">새 상품 등록하기</a>
    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Image URL</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${products}">
            <td th:text="${product.id}">ID</td>
            <td th:text="${product.name}">Name</td>
            <td th:text="${product.price}">Price</td>
            <td th:text="${product.imageUrl}">Image URL</td>
            <td>
                <a th:href="@{/products/edit/{id}(id=${product.id})}" class="btn btn-sm btn-warning">수정</a>
                <a th:href="@{/products/delete/{id}(id=${product.id})}" class="btn btn-sm btn-danger">삭제</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>