h1 {
  flex: 0;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

form {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#error {
  flex: 0;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}
