.main-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
  height: 10%;
  background-color: darkmagenta;
  text-align: center;
  font-size: 35px;
  color: white;
}

.header div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  width: 30%;
  height: 100%;
  gap: 5%;
}

.header .header-delete {
  background-color: #ff0000;
  color: white;
  border: 0px;
  width: 30%;
  height: 50%;
}

.header .header-add {
  background-color: green;
  color: white;
  border: 0px;
  width: 50%;
  height: 50%;
}

.content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 90%;
  padding-top: 5%;
  background-color: white;
}

table {
  width: 90%;
  border-collapse: collapse;
}

table th,
table td {
  padding: 2%;
  text-align: left;
  border-bottom: 1px solid #dddddd;
}

table th {
  background-color: rgb(246, 239, 239);
}

td button {
  border: 0px;
  background-color: white;
}

td button.content-edit {
  color: orange;
}

td button.content-delete {
  color: red;
}

button {
  cursor: pointer;
}

.content {
  display: flex;
  flex-direction: column;
}

.content-footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  height: 10%;
  margin-top: 5%;
}

.content-showing {
  display: flex;
  align-items: center;
  justify-content: left;
}

.content-index {
  display: flex;
  flex-direction: row;
  justify-content: right;

  width: 40%;
}

.content-index div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-index button,
.content-index div button {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: white;
  color: black;
  border: 0px;
  width: 20%;
}

.content-index div button.selected-page {
  background-color: skyblue;
  color: white;
}

.page-size-selector-container {
  display: flex;
  justify-content: right;
  align-items: center;
  text-align: center;
  width: 90%;
}