.modal {
  display: none;

  position: fixed;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);

  justify-content: center;
  align-items: center;
}

.modal-content {
  display: flex;
  flex-direction: column;

  background-color: #fefefe;
  margin: auto;
  padding: 2%;
  border: 1px solid #888;
  height: 50%;
  width: 30%;
}

.modal-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.modal-title h1 {
  margin-right: auto;
  margin-left: auto;
  font-size: 120%;
}

.modal-title.close {
  margin-left: auto;
}

.close {
  color: #aaa;
  float: right;
  font-size: 150%;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#product-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  justify-content: center;
  align-items: center;

  gap: 5%;
}

.form-label-input {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 20%;
}

.form-label-input label {
  font-size: 120%;
}

.form-label-input input {
  width: 100%;
  height: 50%;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#product-form button {
  width: 50%;
  height: 10%;
  background-color: green;
  color: white;
  border: 0px;
  border-radius: 10px;
}

#product-name-error-message {
  display: none;
  color: red;
  width: 100%;
  font-size: 80%;
}
