table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

th, td {
  padding: 12px;
  border: 1px solid gray;
  text-align: left;
}

th:first-child, td:first-child {
  border-left: none;
}

th:last-child, td:last-child {
  border-right: none;
}
a {
  text-decoration: none;
}
#add {
  background-color: #d3d3d3;
}