* {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
}

button i {
  font-size: 20px;
}

button.icon {
  all: unset;
}

button.icon:hover {
  all:unset;
  cursor: pointer;
}