<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>로그인</title>
</head>
<body>
<h1>로그인</h1>
<form th:action="@{/users/login}" method="post" th:object="${userDto}">
  <div>
    <label>이메일:</label>
    <input type="email" th:field="*{email}" />
  </div>
  <div>
    <label>비밀번호:</label>
    <input type="password" th:field="*{password}" />
  </div>
  <div>
    <button type="submit">로그인</button>
  </div>
</form>
<p>계정이 없으신가요? <a th:href="@{/users/register}">회원가입</a></p>
</body>
</html>
