<!DOCTYPE html>
<html lang="en">
<head>
    <title>에러 페이지</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>

<div class="container">
    <h3 class="bg-warning text-white">다시 확인해보세요!.</h3>
    <p class="bg-light">
        <span th:text="${error}">error</span>.</p>
    <br>
    <a th:href="${refererUrl}" class="btn btn-link btn-sm">이전으로 돌아가기</a>
</div>

</body>
</html>

</html>