header {
  position: relative;
  background-color: blueviolet;
  height: 10vh;
  margin-bottom: 20px;
}

button {
  height: 50px;
  width: 100px;
  margin: 10px;
}

.title {
  font-size: 25px;
  font-weight: 600;
}

h1,
h3,
p,
form {
  margin: auto;
  text-align: center;
}

.y-middle {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.x-start {
  position: absolute;
  left: 3%;
}

.normal-buttons {
  background-color: seashell;
}

.invisible {
  display: none;
}
