.jua-regular {
  font-family: "Jua", sans-serif;
  font-weight: 400;
  font-style: normal;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-family: "jua", sans-serif;
  font-size: 20px;
}

table, th, td {
  border: 1px solid black;
  box-shadow: 2px 2px 6px #454545;
}

th, td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #18c1ff2e;
}

.wishListBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wishListBox h1 {
  font-family: "jua", sans-serif;
  font-size: 30px;
  color: black;
}

span.message {
  display: flex;
}

#userbox {
  font-family: "Jua", sans-serif;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  background-color: #f8f9fa;
  border-bottom: 1px solid #dee2e6;
}

#username {
  margin-right: 10px;
  font-size: 18px;
  color: #343a40;
}

#logoutButton {
  font-family: "Jua", sans-serif;
  padding: 5px 10px;
  font-size: 16px;
  color: #000000;
  background-color: #d5f4ff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#logoutButton:hover {
  background-color: #6eb6ff;
}

#loginLink {
  font-family: "Jua", sans-serif;
  padding: 5px 10px;
  font-size: 16px;
  color: #007bff;
  text-decoration: none;
}

#loginLink:hover {
  color: #0056b3;
}

.productListBox a{
  font-family: "jua", sans-serif;
  font-size: 30px;
  color:black;
  text-decoration: none;
}