button a {
    text-decoration: none;
    color: inherit;
}
.container {
    width: 90%;
    margin: 0 auto;
}

.table {
    width: 90%;
    border-collapse: collapse;
}

.table th, .table td {
    padding: 8px;
    text-align: left;
    border: 1px solid black;
}

.active {
    background-color: darkgray;
}