body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
}

a {
    text-decoration: none;
    color: #191919;
}

.top-bar {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.add-product-link {
    font-size: 16px;
    padding: 10px 15px;
    background-color: #FEE500;
    border: 1px solid #FEE500;
    border-radius: 5px;
}

.add-product-link:hover {
    background-color: #FFD100;
    border: 1px solid #FFD100;
}

.table-container {
    width: 100%;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

img {
    display: block;
    margin: auto;
}

.action-cell {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.action-link {
    flex: 1;
    text-align: center;
}

.product-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.form-group .alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    padding: 10px;
    border-radius: 5px;
    margin-top: 5px;
}

.form-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #191919;
    background-color: #FEE500;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #FFD100;
}

.delete-btn {
    background: none;
    border: none;
    color: inherit;
}

.delete-btn:hover {
    cursor: pointer;
}
