body {
    font-family: Arial, sans-serif;
}

h1 {
    color: #000080;
    text-align: center;
}

button {
    float: right;
    padding: 5px 10px;
    margin: 0 5px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

table {
    width: 50%;
    margin: 0 auto;
    border-collapse: collapse;
}

th, td {
    padding: 6px;
    border: 1px solid #ddd;
    text-align: center;
}

th {
    background-color: #f4f4f4;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

img {
    max-width: 100px;
}

.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 20px;
}

.pagination-container button {
    padding: 10px 15px;
    border: 1px solid #dee2e6;
    border-radius: 4px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
}

.pagination-container button:hover {
    background-color: #0056b3;
}

.pagination-container button:disabled {
    background-color: #6c757d;
    cursor: not-allowed;
}

.pagination-container .active {
    background-color: #0056b3;
}
