body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #ddeeee;
}

h1 {
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f4f4f4;
}

tr:hover {
    background-color: #f1f1f1;
}

.add-button {
    float: right;
    background-color: #0988d4;
}

.edit-button {
    background-color: #0988d4;
}

button {
    padding: 8px 12px;
    margin: 0 2px;
    border: none;
    background-color: lightskyblue;
    color: #ffffff;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0988d4;
}

#add-product-form {
    display: none; /* 초기에는 입력 폼을 숨김 */
    margin-top: 20px;
    width: 100%;
    float: left;
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 3px;
    border-collapse: collapse;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

form {
    margin-top: 20px;
}

form label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
}

form input {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

/* Add styles for pagination */
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination button {
    padding: 8px 12px;
    margin: 0 2px;
    border: none;
    background-color: lightskyblue;
    color: #ffffff;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.pagination button.active {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
}
