<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>상품 정보 등록하기</title>
    <link rel="stylesheet" type="text/css" href="/css/crud_style.css">
</head>
<body>
<h1>상품 정보 등록하기</h1>
<form action="#" th:action="@{/products}" th:object="${product}" method="post">
    <label>name : <input type="text" th:field="*{name}" /></label>
    <label>price : <input type="text" th:field="*{price}" /></label>

    <label>imageurl: <input type="text" th:field="*{imageUrl}" /></label>
    <button type="submit" class="button">상품 정보 등록하기</button>
</form>
<a href="/products"></a>

</body>
</html>
