<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>상품 등록</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
  <h1 class="my-4">상품 등록</h1>
  <form id="addProductForm" th:object="${product}">
    <div class="form-group">
      <label for="name">상품명</label>
      <input type="text" id="name" th:field="*{name}" class="form-control">
    </div>
    <div class="form-group">
      <label for="price">상품 가격</label>
      <input type="number" id="price" th:field="*{price}" class="form-control">
    </div>
    <div class="form-group">
      <label for="imageUrl">이미지 URL</label>
      <input type="url" id="imageUrl" th:field="*{imageUrl}" class="form-control">
    </div>
    <button type="button" th:onclick="submitAddForm()" class="btn btn-primary">등록</button>
  </form>
</div>
<script src="/js/script.js"></script>
</body>
</html>