<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>상품 페이지</title>
</head>
<body>
<h1>상품 페이지</h1>
<form th:action="@{/admin/products/add}"
      th:object="${productRequestDto}" method="post">
    <h3>상품 추가</h3>
    <p>Name: <input type="text" th:field="*{name}"></p>
    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
    <p>Price: <input type="number" th:field="*{price}"></p>
    <p>Image URL: <input type="text" th:field="*{imageUrl}"></p>
    <p>
        <button type="submit">저장</button>
    </p>
</form>
<a href="/admin/products">뒤로 가기</a>
</body>
</html>
