<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>상품 추가</title>
  <link rel="stylesheet" th:href="@{/Add_Edit_product.css}">
</head>
<body>
<h1>상품 추가</h1>
<form th:action="@{/admin/products}" th:object="${product}" method="post">
  <div>
    <label for="id">Id:</label>
    <input type="number" id="id" th:field="*{id}" required />
    <div th:if="${#fields.hasErrors('id')}" th:errors="*{id}" class="error-message"></div>
  </div>
  <div>
    <label for="name">Name:</label>
    <input type="text" id="name" th:field="*{name.name}" required />
    <div th:if="${#fields.hasErrors('name.name')}" th:errors="*{name.name}" class="error-message"></div>
  </div>
  <div>
    <label for="price">Price:</label>
    <input type="number" id="price" th:field="*{price}" required />
    <div th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="error-message"></div>
  </div>
  <div>
    <label for="imageUrl">Image URL:</label>
    <input type="text" id="imageUrl" th:field="*{imageUrl}" required />
    <div th:if="${#fields.hasErrors('imageUrl')}" th:errors="*{imageUrl}" class="error-message"></div>
  </div>
  <div>
    <button type="submit">추가하기</button>
  </div>
</form>
</body>
</html>