<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>상품 추가</title>
</head>
<body>
<h1>상품 추가</h1>
<form th:action="@{/admin/products/add}" th:object="${productDTO}" method="post">
  <div>
    <label for="name">상품 이름:</label>
    <input type="text" id="name" th:field="*{name}"/>
    <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color:red;"></div>
  </div>
  <div>
    <label for="price">가격:</label>
    <input type="text" id="price" th:field="*{price}"/>
    <div th:if="${#fields.hasErrors('price')}" th:errors="*{price}" style="color:red;"></div>
  </div>
  <div>
    <label for="imageUrl">Image URL:</label>
    <input type="text" id="imageUrl" th:field="*{imageUrl}"/>
    <div th:if="${#fields.hasErrors('imageUrl')}" th:errors="*{imageUrl}" style="color:red;"></div>
  </div>
  <div>
    <button type="submit">저장</button>
  </div>
</form>
</body>
</html>