<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
    <head>
        <meta charset="utf-8">
        <link th:href="@{/css/bootstrap.min.css}"
              href="../css/bootstrap.min.css" rel="stylesheet">
        <title>상품 등록 화면</title>
    </head>
    <style>
        .fieldError {
            border-color:red;
        }
        .errorMessage {
            color: red;
        }
    </style>
    <body>
        <div class="container">
            <div class="py-5 text-center">
                <h2>상품 등록</h2>
            </div>
            <h4 class="mb-3">상품 정보 입력</h4>
            <form th:action="@{/products/add}" th:object="${requestDto}" method="post">
                <div>
                    <label for="name">상품명</label>
                    <input type="text" id="name" th:field="*{name}" class="form-control" placeholder="이름을 입력하세요" th:class="${#fields.hasErrors('name')} ? 'form-control fieldError' : 'form-control'">
                    <p th:if = "${#fields.hasErrors('name')}" class="errorMessage" th:errors="*{name}">Incorrect data</p>
                </div>
                <div>
                    <label for="price">가격</label>
                    <input type="text" id="price" name="price" class="form-control"
                           placeholder="가격을 입력하세요"
                           th:class="${#fields.hasErrors('price')} ? 'form-control fieldError' : 'form-control'" th:value="${price == null ? '' : price}">
                    <p th:if = "${#fields.hasErrors('price')}" class="errorMessage" th:errors="*{price}">Incorrect data</p>
                </div>
                <div>
                    <label for="imgUrl">사진</label>
                    <input type="text" id="imgUrl" name="imgUrl" class="form-control" placeholder="사진 링크를 입력하세요" th:class="${#fields.hasErrors('imgUrl')} ? 'form-control fieldError' : 'form-control'">
                    <p th:if = "${#fields.hasErrors('imgUrl')}" class="errorMessage" th:errors="*{imgUrl}">Incorrect data</p>
                </div>

                <hr class="my-4">

                <div class="row">
                    <div class="col">
                        <button class="w-100 btn btn-primary btn-lg" type="submit">상품 등록</button>
                    </div>
                    <div class="col">
                        <button class="w-100 btn btn-secondary btn-lg"
                                onclick="location.href='items.html'"
                                th:onclick="|location.href='@{/}'|"
                                type="button">취소</button> </div>
                </div>
            </form>
        </div>
    </body>
</html>
