<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
  <title>상품 등록 화면</title>
</head>
<body>
  <form action="/admin/product" method="post">
    <div class="row mb-3">
      <label for="name" class="col-sm-2 col-form-label">상품명</label>
      <div class="col-sm-10">
        <input type="text" id="name" name="name" placeholder="상품명을 입력하세요" class="form-control">
      </div>
    </div>
    <div class="row mb-3">
      <label for="price" class="col-sm-2 col-form-label">상품 가격</label>
      <div class="col-sm-10">
        <input type="text" id="price" name="price" placeholder="상품 가격을 입력하세요" class="form-control">
      </div>
    </div>
    <div class="row mb-3">
      <label for="imageUrl" class="col-sm-2 col-form-label">상품 이미지</label>
      <div class="col-sm-10">
        <input type="text" id="imageUrl" name="imageUrl" placeholder="상품 이미지를 입력하세요" class="form-control">
      </div>
    </div>
    <button type="submit" class="btn btn-primary">상품 등록</button>
  </form>
</body>
</html>