<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring Gift</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<h1>Add New Product</h1>
<form action="#" th:action="@{/api/products}" th:object="${product}" method="post" class="product-form">
    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" id="name" th:field="*{name}">
        <div th:if="${#fields.hasErrors('name')}" class="alert-danger" th:errors="*{name}">Name Error</div>
    </div>
    <div class="form-group">
        <label for="price">Price:</label>
        <input type="text" id="price" th:field="*{price}">
    </div>
    <div class="form-group">
        <label for="imageUrl">ImageURL:</label>
        <input type="text" id="imageUrl" th:field="*{imageUrl}">
    </div>
    <div class="form-actions">
        <a href="/api/products" class="back-link">Cancel</a>
        <button type="submit" class="btn">Add</button>
    </div>
</form>

</body>
</html>
