<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>선물하기 관리자 페이지</title>
    <meta charset="UTF-8">
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            padding: 5px;
        }
    </style>
</head>
<body>
<h1>제품 관리</h1>

<h2>제품 목록</h2>
<button type="button" onclick="location.href='products/add' ">제품 추가</button>
<table>
    <tr>
        <th>ID</th>
        <th>이름</th>
        <th>가격</th>
        <th>이미지 URL</th>
    </tr>
    <tr th:each="product : ${products}">
        <td th:text="${product.id}"></td>
        <td th:text="${product.name}"></td>
        <td th:text="${product.price}"></td>
        <td th:text="${product.imageURL}"></td>
        <td>
            <form th:action="@{'/admin/products/'+${product.id}}" th:method="DELETE">
            <input type="submit" value="삭제">
            </form>
            <form th:action="@{'/admin/products/edit/'+${product.id}}" method="get">
                <input type="submit" value="수정">
            </form>
        </td>
    </tr>
</table>

<div th:if="${editProduct}">
    <h2>제품 수정</h2>
    <form th:action="@{'/admin/products/' + ${editProduct.id}}" method="post">
        <input type="hidden" name="id" th:value="${editProduct.id}">
        <label for="editName">이름:</label>
        <input type="text" id="editName" name="name" th:value="${editProduct.name}" required><br>
        <label for="editPrice">가격:</label>
        <input type="number" id="editPrice" name="price" th:value="${editProduct.price}" required><br>
        <input type="submit" value="수정">
    </form>
</div>
</body>
</html>