<!DOCTYPE html>
<html lang="KR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>상품 관리</title>
    <link rel="stylesheet" href="/style/index_style.css">
    <script type="text/javascript" src="http://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/index_ajax.js"></script>
</head>
<body>
<div class="header" id="header">

</div>
<h1>Administrator Product Manage Page</h1>
<div class="form-inline">
    <label for="id">Id:</label>
    <input type="text" id="id" name="id" disabled>

    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required>

    <label for="price">Price:</label>
    <input type="number" id="price" name="price" required>

    <label for="image">Image:</label>
    <input type="text" id="image" name="imageUrl" required>

    <input type="button" id="post" value="추가">
</div>
<div class="form-inline">
    <label for="p_id">Id:</label>
    <input type="text" id="p_id" name="id" required>

    <label for="p_name">Name:</label>
    <input type="text" id="p_name" name="name" required>

    <label for="p_price">Price:</label>
    <input type="number" id="p_price" name="price" required>

    <label for="p_image">Image:</label>
    <input type="text" id="p_image" name="imageUrl" required>

    <input type="button" id="put" value="수정">
</div>
<table id="product-table">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Image</th>
        <th scope="col">Option</th>
    </tr>
    </thead>
    <tbody id="product-tbody">
    <!-- AJAX를 통해 데이터를 로드 -->
    </tbody>
</table>
</body>
<script>
    $(document).ready(function() {
        // 페이지 로드 시 AJAX를 통해 데이터 가져오기
        $.ajax({
            url: '/api/products',
            method: 'GET',
            dataType: 'json',
            success: function(data) {
                var tbody = $('#product-tbody');
                tbody.empty(); // 초기화

                // 데이터에 따라 테이블 행을 생성
                data.forEach(function(product) {
                    // 한 행의 내용
                    var row = `
                        <tr>
                            <td>${product.id}</td>
                            <td>${product.name}</td>
                            <td>${product.price}</td>
                            <td><img src="${product.imageUrl}" alt="image"/></td>
                            <td>
                                <a href="#" onclick="deleteFunction(${product.id})">삭제</a>
                            </td>
                        </tr>
                    `;
                    tbody.append(row);
                });
            },
            error: function(err) {
                alert("error occur! [error code : " + err.status + "]");
            }
        });

        if(localStorage.getItem('token')){
            var inline = $('#header');
            inline.empty();
            inline.append('<a href="" onclick="logoutFunction()" className="header-link">로그아웃</a>\n' +
                '            <a href="adminUsers" className="header-link">유저관리</a>');
        }
    });

    $("#post").click(function () {
        var product = {
            id : 0,
            name : $("#name").val(),
            price : $("#price").val(),
            imageUrl : $("#image").val()
        }

        $.ajax({
            type : "POST",
            url : "api/products",
            contentType: "application/json",
            datatype : "json",
            data : JSON.stringify(product),
            headers : {
                Authorization: 'Bearer ' + localStorage.getItem("token"),
            },
            success : function(res){
                location.reload();
            },
            error : function(err){
                var text = err.responseJSON;
                var error = text['name'];
                if(text) {
                    alert("[Name error : " + error + "]");
                }
                else{
                    alert("상품을 추가할 수 없습니다!");
                }
            }
        })
    });

    function deleteFunction(id){
        $.ajax({
            type: "DELETE",
            url: "api/products/" + id,
            success : function(res){
                $('#product-table').find('tr[data-id="' + id + '"]').remove();
                alert("상품 ID : " + id + "가 삭제되었습니다.");
                location.reload();
            },
            error : function(error){
                alert("error occur! [error code : " + err.status + "]");
            }
        })
    }

    $("#put").click(function(){
        var product ={
            name : $("#p_name").val(),
            price : $("#p_price").val(),
            imageUrl : $("#p_image").val()
        }

        $.ajax({
            type : "PUT",
            url : "api/products/" + $("#p_id").val(),
            contentType: "application/json",
            datatype : "json",
            data : JSON.stringify(product),
            success : function(res){
                location.reload();
            },
            error : function(err){
                var text = err.responseText;
                if(text) {
                    var errors = JSON.parse(text);
                    alert("[Name error : " + errors.name + "]");
                }
                else {
                    alert("[Id error : " + err.status + ", 등록되지 않은 상품을 수정할 수 없습니다]");
                }
            }
        })
    })

    function chooseFunction(id){
        $.ajax({
            type : "post",
            url : "api/wishes/" +  id,
            headers : {
                Authorization: 'Bearer ' + localStorage.getItem("token"),
            },
            success : function(res){
                alert("상품이 위시 리스트에 등록되었습니다");
            },
            error : function(err){
                alert("상품 등록에 실패했습니다");
            }
        })
        console.log(localStorage.getItem("token"));
    }

    function logoutFunction(){
        localStorage.removeItem('token');
        localStorage.removeItem('email');
        backToHome();
    }
</script>
</html>
