<!DOCTYPE html>
<html lang="KR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>상품 관리</title>
    <link rel="stylesheet" href="/style/index_style.css">
    <script type="text/javascript" src="http://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/index_ajax.js"></script>
</head>
<body>
<div class="header" id="header">

</div>
<h1>Administrator User Manage Page</h1>
<div class="form-inline">
    <<label for="id">Id:</label>
    <input type="text" id="id" name="id" disabled>

    <label for="userId">UserId:</label>
    <input type="text" id="userId" name="userId" required>

    <label for="email">Email:</label>
    <input type="text" id="email" name="email" required>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>

    <input type="button" id="post" value="추가">
</div>
<div class="form-inline">
    <<label for="p_id">Id:</label>
    <input type="text" id="p_id" name="p_id" required>

    <label for="p_userId">UserId:</label>
    <input type="text" id="p_userId" name="p_userId" required>

    <label for="p_email">Email:</label>
    <input type="text" id="p_email" name="p_email" required>

    <label for="p_password">Password:</label>
    <input type="password" id="p_password" name="p_password" required>

    <input type="button" id="put" value="수정">
</div>
<table id="user-table">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">UserId</th>
        <th scope="col">Email</th>
        <th scope="col">Password</th>
        <th scope="col">Option</th>
    </tr>
    </thead>
    <tbody id="product-tbody">
    <!-- AJAX를 통해 데이터를 로드 -->
    </tbody>
</table>
</body>
<script>
    $(document).ready(function() {
        // 페이지 로드 시 AJAX를 통해 데이터 가져오기
        $.ajax({
            url: '/api/users',
            method: 'GET',
            dataType: 'json',
            success: function(data) {
                var tbody = $('#product-tbody');
                tbody.empty(); // 초기화

                // 데이터에 따라 테이블 행을 생성
                data.forEach(function(user) {
                    // 한 행의 내용
                    var row = `
                        <tr>
                            <td>${user.id}</td>
                            <td>${user.userId}</td>
                            <td>${user.email}</td>
                            <td>${user.password}</td>
                            <td>
                                <a href="#" onclick="deleteFunction(${user.id})">삭제</a>
                            </td>
                        </tr>
                    `;
                    tbody.append(row);
                });
            },
            error: function(err) {
                alert("error occur! [error code : " + err.status + "]");
            }
        });

        if(localStorage.getItem('token')){
            var inline = $('#header');
            inline.empty();
            inline.append('<a href="" onclick="logoutFunction()" className="header-link">로그아웃</a>\n' +
                '            <a href="adminProducts" className="header-link">상품관리</a>');
        }
    });

    $("#post").click(function () {
        var user = {
            userId : $("#userId").val(),
            email : $("#email").val(),
            password : $("#password").val()
        }

        $.ajax({
            type : "POST",
            url : "register",
            contentType: "application/json",
            datatype : "json",
            data : JSON.stringify(user),
            success : function(res){
                location.reload();
            },
            error : function(err){
                alert("유저 정보 생성 실패");
            }
        })
    });

    function deleteFunction(id){
        $.ajax({
            type: "DELETE",
            url: "api/users/" + id,
            success : function(res){
                $('#user-table').find('tr[data-id="' + id + '"]').remove();
                alert("유저 ID : " + id + "가 삭제되었습니다.");
                location.reload();
            },
            error : function(error){
                alert("error occur! [error code : " + err.status + "]");
            }
        })
    }

    $("#put").click(function(){
        var user ={
            userId : $("#p_userId").val(),
            email: $("#p_email").val(),
            password : $("#p_password").val()
        }

        $.ajax({
            type : "PUT",
            url : "api/users/" + $("#p_id").val(),
            contentType: "application/json",
            datatype : "json",
            data : JSON.stringify(user),
            success : function(res){
                location.reload();
            },
            error : function(err){
                alert("유저 정보 수정에 실패했습니다" + err.status);
            }
        })
    })

    function logoutFunction(){
        localStorage.removeItem('token');
        localStorage.removeItem('email');
        backToHome();
    }
</script>
</html>
