<!DOCTYPE html>
<html lang="kr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Product</title>
  <script src="/js/main.js" defer></script>
  <link href="/css/main.css" rel="stylesheet" />
</head>
<body>
    <div class="header">
        <span class="title">Edit Product</span>
        <a th:href="@{/admin/products}">
            <button class="btn primary-btn">Back</button>
        </a>
    </div>
    <div class="container">
        <form id="product-edit-form">
            <table class="product-info">
                <tr>
                    <th>Name</th>
                    <td>
                        <input id="name" type="text" th:value="${product.name}" required>
                    </td>
                </tr>
                <tr>
                    <th>Price</th>
                    <td>
                        <input id="price" type="text" th:value="${product.price}" required>
                    </td>
                </tr>
                <tr>
                    <th>Image URL</th>
                    <td>
                        <input id="imageUrl" type="text" th:value="${product.imageUrl}" required>
                    </td>
                </tr>
            </table>
            <div class="btn-container">
                <button class="btn primary-btn" type="submit">Edit</button>
            </div>
        </form>
    </div>
</body>
</html>