<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Product</title>
</head>
<body>
<h1>Edit Product</h1>

<form th:action="@{/api/admin/products/edit/{id}(id=${product.id})}" th:object="${product}" method="post">
    <input type="hidden" th:field="*{id}">

    <label for="name">Name:</label><br>
    <input type="text" id="name" th:field="*{name}"><br>
    <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div><br>

    <label for="price">Price:</label><br>
    <input type="number" id="price" th:field="*{price}"><br>

    <label for="imageUrl">Image URL:</label><br>
    <input type="text" id="imageUrl" th:field="*{imageUrl}"><br>

    <button type="submit">Save</button>
</form>

<a href="/view/admin/products">Cancel</a>

</body>
</html>
