<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Products</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="stylesheet" th:href="@{/css/get-products.css}">
</head>
<body>
<!--<h1>Product List</h1>-->


<!--<div class="actions">-->
<!--  <div class="actions">-->
<!--    <a href="product/add" class="btn add-btn"> Add Product</a>-->
<!--    <a href="product/delete/form" class="btn delete-btn">Delete Product</a>-->
<!--    <a href="product/update" class="btn update-btn">Update Product</a>-->
<!--  </div>-->

<!--  <div th:if="${not #lists.isEmpty(productList)}">-->
<!--    <ul class="product-list">-->
<!--      <li th:each="product : ${productList}" class="product-item">-->
<!--        <span th:text="${product.id}" class="product-id">Id</span>-->
<!--        <span th:text="${product.name}" class="product-name">Product Name</span>-->
<!--        <span th:text="${product.price}" class="product-price">Price</span>-->
<!--        <span th:text="${product.imageUrl}" class="product-image">imageUrl</span>-->
<!--      </li>-->
<!--    </ul>-->
<!--  </div>-->
<!--  <div th:if="${#lists.isEmpty(productList)}" class="empty-message">-->
<!--    No products available.-->
<!--  </div>-->
<!--  <div th:if="${resultMessage}" class="result-message">-->
<!--    <p th:text="${resultMessage}"></p>-->
<!--  </div>-->
<!--  <div th:if="${errorMessage}" class="error-message">-->
<!--    <p th:text="${errorMessage}"></p>-->
<!--  </div>-->


<h1>Product List</h1>

<div class="actions">
  <a href="/product/add" class="btn add-btn">Add Product</a>
</div>

<ul th:if="${not #lists.isEmpty(productList)}">
  <li th:each="product : ${productList}">
    <span class="product-id" th:text="${product.id}">Id</span>
    <span class="product-name" th:text="${product.name}">Product Name</span>
    <span class="product-price" th:text="${product.price}">Price</span>
    <span class="product-image" th:text="${product.imageUrl}">imageUrl</span>
    <a th:href="@{/product/update/{id}(id=${product.id})}" class="btn update-btn">Update</a>
    <a th:href="@{/product/delete/{id}(id=${product.id})}" class="btn delete-btn">Delete</a>
  </li>
</ul>

<div class="empty-message" th:if="${#lists.isEmpty(productList)}">
  No products available.
</div>

<div class="result-message" th:if="${resultMessage}" th:text="${resultMessage}"></div>

<div class="error-message" th:if="${errorMessage}" th:text="${errorMessage}"></div>

</body>
</html>
