<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Jua&display=swap" rel="stylesheet">
  <title>Wish List</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/getWishes.css}">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="/js/getWishes.js"></script>
  <script src="/js/wishPage.js"></script>
</head>
<body>
<div class="productListBox">
  <a href="/api/products">
    <h1>제품 리스트</h1>
  </a>
</div>
<div class="wishListBox">
  <h1>위시리스트</h1>
</div>

<div id="userbox">
  <div id="userInfo" style="display: none;">
    <span id="username"></span>
    <button id="logoutButton" style="display: none;">로그아웃</button>
  </div>
  <a href="/members/login" id="loginLink" style="display:none;">로그인 하기</a>
</div>

<table id="wishListTable">
  <thead>
  <tr>
    <th>ID
    <a id="idAsc" th:onclick="'getRequestWithToken(\'/api/products/wishes?page=' + ${wishListDTO.getWishList().number} + '&sort=product.id,asc\')'">▲</a>
    <a id="idDesc" th:onclick="'getRequestWithToken(\'/api/products/wishes?page=' + ${wishListDTO.getWishList().number} + '&sort=product.id,desc\')'">▼</a>
  </th>
    <th>Name
      <a id="nameAsc" th:onclick="'getRequestWithToken(\'/api/products/wishes?page=' + ${wishListDTO.getWishList().number} + '&sort=product.name,asc\')'">▲</a>
      <a id="nameDesc" th:onclick="'getRequestWithToken(\'/api/products/wishes?page=' + ${wishListDTO.getWishList().number} + '&sort=product.name,desc\')'">▼</a>
    </th>
    <th>Price
      <a id="priceAsc" th:onclick="'getRequestWithToken(\'/api/products/wishes?page=' + ${wishListDTO.getWishList().number} + '&sort=product.price,asc\')'">▲</a>
      <a id="priceDesc" th:onclick="'getRequestWithToken(\'/api/products/wishes?page=' + ${wishListDTO.getWishList().number} + '&sort=product.price,desc\')'">▼</a>
    </th>
    <th>ImageUrl</th>
    <th>수량
      <a id="quantityAsc" th:onclick="'getRequestWithToken(\'/api/products/wishes?page=' + ${wishListDTO.getWishList().number} + '&sort=quantity,asc\')'">▲</a>
      <a id="quantityDesc" th:onclick="'getRequestWithToken(\'/api/products/wishes?page=' + ${wishListDTO.getWishList().number} + '&sort=quantity,desc\')'">▼</a>
    </th>
    <th>편집</th>
    <th>삭제</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="wish : ${wishListDTO.getWishList().getContent()}">
    <td th:text="${wish.getProduct().getId()}" id="productId" class = "productId">1</td>
    <td th:text="${wish.getProduct().getName()}" id="productName" class="productName">Product Name</td>
    <td th:text="${wish.getProduct().getPrice()}" id="productPrice" class="productPrice">1000</td>
    <td id="productImage" class="productImage">
      <img th:src="${wish.getProduct().getImageUrl()}" alt="Image" style="width:100px;height:auto;">
    </td>
    <td th:text="${wish.getQuantity()}" id="productQuantity" class="productQuantity"></td>
    <td>
      <img th:src="@{/image/edit.png}" id ="productEdit" class="productEdit" alt="edit" style="width:100px;height: auto"  onclick="editQuantity(this)">
    </td>
    <td>
      <img th:src="@{/image/remove.png}" alt="remove" style="width:100px;height: auto"  onclick="deleteWish(this)">
    </td>
  </tr>
  </tbody>
</table>

<div class="wishPagination"
     th:data-number="${wishListDTO.getWishList().number}"
     th:data-size="${wishListDTO.getWishList().size}"
     th:data-total-elements="${wishListDTO.getWishList().totalElements}"
     th:data-has-next="${wishListDTO.getWishList().hasNext()}"
     th:data-has-previous="${wishListDTO.getWishList().hasPrevious()}"
     th:data-total-pages="${wishListDTO.getWishList().totalPages}">
  <a id="firstPage" style="display:none"><<</a>
  <a id="previousPage" style="display:none"><</a>
  <div class="pages"></div>
  <a id="nextPage" style="display:none">></a>
  <a id="lastPage" style="display:none">>></a>
</div>

</body>
</html>
