<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>선물하기</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<h1>🎁선물하기 상품 목록</h1>
<table>
    <thead>
    <tr>
        <th>상품명</th>
        <th>가격</th>
        <th>이미지</th>
    </tr>
    </thead>
    <tbody id="product-list">
    <!-- 상품 목록이 여기에 추가됩니다. -->
    </tbody>
</table>

<div id="pagination" class="pagination">
    <!-- 페이지네이션 버튼이 여기에 추가됩니다. -->
</div>

<br>

<script>
    let currentPage = 0;
    const pageSize = 5;  // pageNation 페이지 size 설정 content 개수 설정
    const buttonsPerPage = 5;

    function fetchProducts(pageNumber = 0) {
        $.get(`/api/products?pageNumber=${pageNumber}&pageSize=${pageSize}`, function(response) {
            const products = response.content;
            const totalPages = response.totalPages;

            // 상품 목록을 갱신합니다.
            const productList = $("#product-list");
            productList.empty();
            products.forEach(function(product) {
                productList.append(`
                    <tr>
                        <td>${product.name}</td>
                        <td>${product.price}</td>
                        <td><img src="${product.imageUrl}" alt="상품 이미지" width="100"></td>
                    </tr>
                `);
            });

            // 페이지네이션 갱신
            updatePagination(totalPages, pageNumber);
        });
    }

    function updatePagination(totalPages, page) {
        currentPage = page;
        const pagination = $("#pagination");
        pagination.empty();

        const currentGroup = Math.floor(currentPage / buttonsPerPage);
        const startPage = currentGroup * buttonsPerPage;
        const endPage = Math.min(startPage + buttonsPerPage, totalPages);

        if (currentGroup > 0) {
            pagination.append(`<button onclick="fetchProducts(${startPage - 1})"><</button>`);
        }

        for (let i = startPage; i < endPage; i++) {
            pagination.append(`<button onclick="fetchProducts(${i})" class="${i === currentPage ? 'active' : ''}">${i + 1}</button>`);
        }

        if (endPage < totalPages) {
            pagination.append(`<button onclick="fetchProducts(${endPage})">></button>`);
        }
    }

    $(document).ready(function() {
        fetchProducts();
    });
</script>
</body>
</html>
