<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>선물하기</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<h1>🎁선물하기 상품 목록</h1>
<table>
    <thead>
    <tr>
        <th>상품명</th>
        <th>가격</th>
        <th>이미지</th>
    </tr>
    </thead>
    <tbody id="product-list">
    <!-- 상품 목록 동적으로 추가됨-->
    </tbody>
</table>

<!-- 페이지네이션 포함 -->
<div th:replace="~{pageNation :: #pagination}"></div>

<br>

<script>
    const pageSize = 5;

    /**
     * 상품 목록 갱신하는 메소드
     * @param page
     */
    function fetchProducts(page = 0) {
        $.get(`/api/products?page=${page}&size=${pageSize}`, function(response) {
            const products = response.content;
            const totalPages = response.totalPages;

            const productList = $("#product-list");
            productList.empty();
            products.forEach(function(product) {
                productList.append(`
                    <tr>
                        <td>${product.name}</td>
                        <td>${product.price}</td>
                        <td><img src="${product.imageUrl}" alt="상품 이미지" width="100"></td>
                    </tr>
                `);
            });

            updatePagination(totalPages, page);
        });
    }

    $(document).ready(function() {
        fetchProducts();
    });
</script>
</body>
</html>
