<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<h1>Login</h1>
<form th:action="@{/members/login}" method="post">
    <label for="email">Email:</label><br>
    <input type="email" id="email" name="email"><br>
    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password"><br>
    <button id="loginBtn" type="submit">Login</button>
</form>
<a href="/register">Register</a>

<script>
document.getElementById('loginBtn').addEventListener('click', function() {
    alert("먼저수행");
    fetch('http://localhost:8080/members/login')
        .then(response => response.json())
        .then(data => {
            const token = data.token;
            // 로컬 스토리지에 토큰 저장
            localStorage.setItem('token', token);
            // 토큰을 HTML에 표시
            //document.getElementById('tokenDisplay').innerText = 'Token: ' + token;
            console.log('Token saved to local storage:', token);
        })
        .catch((error) => {
            console.error('Error:', error);
        });

        location.href = "/admin/products";


});
</script>
</body>
</html>
