<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>로그인</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="container">
    <div class="form-container">
        <h5 class="form-header">로그인</h5>
        <form th:action="@{/auth/login}" method="post">
            <div class="form-group">
                <label for="email" class="form-label">Email</label>
                <input type="email" name="email" id="email" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="password" class="form-label">Password</label>
                <input type="password" name="password" id="password" class="form-control" required>
            </div>
            <div class="btn-container">
                <input type="submit" value="로그인" class="btn btn-primary">
                <a th:href="@{/auth/register}" class="btn btn-secondary">회원가입 페이지로</a>
            </div>
        </form>
    </div>
</div>
</body>
</html>
