<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>로그인</title>
</head>
<body>
<h1>로그인</h1>
<form th:action="@{/members/login}" th:object="${loginDTO}" method="post">
  <div>
    <label for="email">이메일:</label>
    <input type="text" id="email" th:field="*{email}"/>
    <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color:red;"></div>
    <div th:if="${loginError}" th:text="${loginError}" style="color:red;"></div>
  </div>
  <div>
    <label for="password">비밀번호:</label>
    <input type="password" id="password" th:field="*{password}"/>
    <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color:red;"></div>
  </div>
  <div>
    <button type="submit">로그인</button>
  </div>
</form>
<div>
  <form th:action="@{/members/register}" method="get">
    <button type="submit">회원 가입</button>
  </form>
</div>
</body>
</html>