<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Products</title>
    <link rel="stylesheet" th:href="@{/css/manage.css}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script defer th:src="@{/js/manage.js}"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="header">
        <h1>Manage <span>Products</span></h1>
        <div class="button-container">
            <button type="submit" class="delete-btn" id="delete-selected">Delete</button>
            <button class="add-btn" type="button" data-toggle="modal" data-target="#addProduct">
                Add New Product
            </button>
        </div>
    </div>
    <table>
        <thead class="table-header">
        <tr>
            <th><input type="checkbox" id="select-all"></th>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th>Image-Url</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${products.productDTOList}" th:data-id="${product.id}">
            <td><input type="checkbox"></td>
            <td th:text="${product.id}"></td>
            <td th:text="${product.name}"></td>
            <td th:text="${product.price}"></td>
            <td th:text="${product.imageUrl}"></td>
            <td>
                <button class="edit-btn" type="button" data-toggle="modal" data-target="#editProduct"
                        th:data-id="${product.id}" th:data-name="${product.name}" th:data-price="${product.price}" th:data-imageurl="${product.imageUrl}">
                    <i class="fas fa-pencil-alt"></i>
                </button>
                <button type="button" class="delete-btn" th:data-id="${product.id}"><i class="fas fa-trash"></i></button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<!-- Modal -->
<div th:replace="~{fragments/addProduct :: modal}"></div>
<div th:replace="~{fragments/editProduct :: modal}"></div>
</body>
</html>
