<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manage Products</title>
</head>
<body>
<h1>Manage Product</h1>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
        <th>Image</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${products}">
        <td th:text="${product.id}"></td>
        <td th:text="${product.name}"></td>
        <td th:text="${product.price}"></td>
        <td><img th:src="${product.imageUrl}" alt="Image" width="50"/></td>
        <td>
            <a th:href="@{/api/manage/products/update/{productId} (productId=${product.id})}">Edit</a>
            <form th:action="@{/api/manage/products/delete/{productId} (productId=${product.id})}" method="post" style="display:inline;">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<a th:href="@{/api/manage/products/add}">Add New Product</a>
</body>
</html>