<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>Member Add</title>
  <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<div class="container">
  <div class="header">
    <div class="header-txt">
        <a th:href="@{/admin/members}">
          <h1>Edit member</h1>
        </a>
    </div>
    <div class="back-btn">
        <a th:href="|javascript:history.back()|" class="btn">back</a>
    </div>
  </div>
  <h1>Member Edit</h1>
  <form th:action="@{/admin/members/edit/{email}(email=${member.email})}" th:object="${member}" method="post">
    <p>Password: <input type="text" th:field="*{password}"></p>
    <button type="submit" class="btn-submit"><a>SUBMIT</a></button>
  </form>
</div>
</body>
</html>
