<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>상품 목록</title>
  <script>
    function checkAuth() {
      const token = localStorage.getItem("authToken");
      if (token) {
        document.querySelectorAll('.auth-required').forEach(element => {
          element.style.display = 'inline';
        });
      }
    }

    function checkLogin() {
      const token = localStorage.getItem("authToken");
      if (token) {
        document.querySelectorAll('.login-required').forEach(element => {
          element.style.display = 'none';
        });
      }
    }

    function addToWishlist(productId) {
      const token = localStorage.getItem("authToken");
      if (token) {
        fetch('/wishlist', {
          method: 'POST',
          headers: {
            'Authorization': 'Bearer ' + token,
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({productId: productId})
        })
        .then(response => {
          if (response.ok) {
            alert("위시리스트에 추가되었습니다.");
          } else {
            response.text().then(text => {
              console.error('Response error text:', text);
              alert("위시리스트에 추가할 수 없습니다. 다시 시도해주세요.");
            });
          }
        })
        .catch(error => {
          console.error('Error:', error);
          alert("위시리스트에 추가할 수 없습니다. 다시 시도해주세요.");
        });
      } else {
        alert("로그인이 필요합니다.");
      }
    }

    function goToWishlist() {
      const token = localStorage.getItem("authToken");
      if (token) {
        fetch('/wishlist', {
          method: 'GET',
          headers: {
            'Authorization': 'Bearer ' + token
          }
        })
        .then(response => {
          if (response.ok) {
            response.text().then((text) => {
              document.open();
              document.write(text);
              document.close();
            });
          } else if (response.redirected) {
            window.location.href = response.url;
          } else {
            alert("위시리스트를 불러올 수 없습니다. 다시 로그인 해주세요.");
          }
        })
        .catch(error => {
          console.error('Error:', error);
          alert("위시리스트를 불러올 수 없습니다. 다시 로그인 해주세요.");
        });
      } else {
        alert("로그인이 필요합니다.");
      }
    }

    window.onload = function () {
      checkAuth();
      checkLogin();
    };
  </script>
</head>
<body>
<h1>상품 목록</h1>
<form th:action="@{/admin/products/add}" method="get" style="display:none;" class="auth-required">
  <button type="submit">상품 추가</button>
</form>
<form th:action="@{/members/login}" method="get" style="display:inline;" class="login-required">
  <button type="submit">로그인</button>
</form>
<button onclick="goToWishlist()">위시리스트로 이동</button>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>상품 이름</th>
    <th>가격</th>
    <th>Image URL</th>
    <th class="auth-required"> 수정 및 삭제</th>
    <th> 위시 리스트 추가</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="product : ${products}">
    <td th:text="${product.id}">id</td>
    <td th:text="${product.name}">name</td>
    <td th:text="${product.price}">price</td>
    <td><a th:href="${product.imageUrl}" th:text="${product.imageUrl}">imageurl</a></td>
    <td>
      <form th:action="@{/admin/products/edit/{id}(id=${product.id})}" method="get"
            style="display:none;" class="auth-required">
        <button type="submit">수정</button>
      </form>
      <form th:action="@{/admin/products/delete/{id}(id=${product.id})}" method="post"
            style="display:none;" class="auth-required">
        <input type="hidden" name="_method" value="delete"/>
        <button type="submit">삭제</button>
      </form>
    </td>
    <td>
      <button th:attr="onclick='addToWishlist(' + ${product.id} + ')'">위시 리스트에 추가</button>
    </td>
  </tr>
  </tbody>
</table>
<div>
  <ul>
    <li th:each="pageNum : ${#numbers.sequence(0, products.totalPages - 1)}">
      <a th:if="${pageNum != products.number}" th:href="@{/admin/products(page=${pageNum})}"
         th:text="${pageNum + 1}">1</a>
      <span th:if="${pageNum == products.number}" th:text="${pageNum + 1}">1</span>
    </li>
  </ul>
</div>
</body>
</html>