<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product Add Page</title>
    <link rel="stylesheet" th:href="@{/css/product_add.css}">
</head>
<body>
<h1>Add Product</h1>
<div>
    <div>
        <label for="name">Product Name:</label>
        <input type="text" id="name" />
        <span class="error-message" id="name-error" style="display:none; color:red;"></span>
    </div>
    <div>
        <label for="price">Price:</label>
        <input type="number" id="price" />
        <span class="error-message" id="price-error" style="display:none; color:red;"></span>
    </div>
    <div>
        <label for="imageUrl">Image URL:</label>
        <input type="text" id="imageUrl" />
        <span class="error-message" id="imageUrl-error" style="display:none; color:red;"></span>
    </div>
    <div>
        <button type="submit" id="submit-btn" onclick="add_product()">Add!</button>
    </div>
</div>
<script type="text/javascript">

    function add_product() {
        const name = document.getElementById("name").value;
        const price = document.getElementById("price").value;
        const imageUrl = document.getElementById("imageUrl").value;

        if (!name || !price || !imageUrl) {
            alert("모든 정보를 기입해주세요")
            return;
        }

        const body_data = JSON.stringify({
            name,
            price,
            imageUrl
        });

        fetch('/api/products', {
            method: 'post',
            headers: {
                'Content-Type': 'application/json'
            },
            body: body_data
        }).then(response => {
            ["name", "price", "imageUrl"].forEach((field) => {
                let $errorSupport = document.getElementById(field + "-error");

                $errorSupport.textContent = "";
                $errorSupport.style.display = "none";
            })
            if (response.ok) {
                alert("상품 추가가 완료되었습니다.")
                window.location.href = '/';
            } else if (response.status === 400){
                response.json().then(invalidDict => {
                    Object.entries(invalidDict).forEach(([field, errmsg]) => {
                        let $errorSupport = document.getElementById(field + "-error");

                        $errorSupport.textContent += "\n" + errmsg;
                        $errorSupport.style.display = "";
                    })
                })
            } else {
                response.text().then(errmsg => {
                    alert(errmsg);
                })
            }
        })
    }
</script>
</body>
</html>