<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Product Form</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
  <h1 th:text="${!isEditing} ? 'Add Product' : 'Edit Product'"></h1>
  <form th:action="@{/admin/form}" th:object="${product}" method="post">
    <input type="hidden" th:if="${isEditing}" name="_method" value="put"/>
    <div class="form-group">
      <label for="id">ID</label>
      <input type="number" class="form-control" id="id" th:field="*{id}" th:attr="readonly=${isEditing}" min="1" required>
    </div>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" th:field="*{name}" required>
      <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
    </div>
    <div class="form-group">
      <label for="price">Price</label>
      <input type="number" class="form-control" id="price" th:field="*{price}" required>
      <td th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Price Error</td>
    </div>
    <div class="form-group">
      <label for="imageUrl">Image URL</label>
      <input type="text" class="form-control" id="imageUrl" th:field="*{imageUrl}" required>
      <td th:if="${#fields.hasErrors('imageUrl')}" th:errors="*{imageUrl}">Name Error</td>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <a href="/admin" class="btn btn-secondary">Cancel</a>
  </form>
</div>
</body>
</html>