<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>Edit Product</title>
  <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<div class="container">
  <div class="header">
    <div class="header-txt">
        <a th:href="@{/admin/products}">
          <h1>Edit product</h1>
        </a>
    </div>
    <div class="back-btn">
        <a th:href="|javascript:history.back()|" class="btn">back</a>
    </div>
  </div>
  <h1>Product Edit</h1>
  <form th:action="@{/admin/products/edit/{id}(id=${product.id})}" th:object="${product}" method="post">
    <p>Name: <input type="text" th:field="*{name}"></p>
    <p>Price: <input type="number" th:field="*{price}"></p>
    <p>Image URL: <input type="text" th:field="*{imageUrl}"></p>
    <button type="submit" class="btn-submit"><a>SUBMIT</a></button>
  </form>
</div>
</body>
</html>