<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>상품 리스트</title>
</head>
<body>
<a th:href="@{/products/new}">New</a>
<table border="1">
    <thead>
    <tr>
        <th>상품 ID</th>
        <th>상품 이름</th>
        <th>가격</th>
        <th>image URL</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody th:remove="all-but-first">
    <tr th:each="product : ${products}">
        <td class="productId" th:text="${product.id}">1</td>
        <td class="productName" th:text="${product.name}">테스트 상품 이름</td>
        <td class="productPrice" th:text="${product.price}">12345</td>
        <td class="productImageURL" th:text="${product.imageUrl}">imageURL example</td>
        <td>
            <a th:href="@{/products/edit/{id}(id=${product.id})}"><button type="button">Edit</button></a>
            <button type="button" class="delete-button" th:data-id="${product.id}">Delete</button>
        </td>
    </tr>
    <tr>
        <td class="productId">1</td>
        <td class="productName">테스트 상품 이름</td>
        <td class="productPrice">12345</td>
        <td class="productImageURL">imageURL example</td>
        <td>
            <button type="button">Edit</button>
            <button type="button">Delete</button>
        </td>
    </tr>
    <tr>
        <td class="productId">2</td>
        <td class="productName">테스트 상품 이름</td>
        <td class="productPrice">12345</td>
        <td class="productImageURL">imageURL example</td>
        <td>
            <button type="button">Edit</button>
            <button type="button">Delete</button>

        </td>
    </tr>
    </tbody>
</table>

<script>
    document.querySelectorAll('.delete-button').forEach(button => {
        button.addEventListener('click', async function(event) {
            const productId = this.getAttribute('data-id');
            if(confirm(`ID ${productId} 상품을 삭제하시겠습니까?`)) {
                const response = await fetch(`/api/products/${productId}`, {
                    method: 'DELETE'
                });

                if(response.ok) {
                    alert('성공적으로 삭제되었습니다.');
                    window.location.reload();
                } else {
                    const errorData = response.json();
                    alert(errorData.detail);
                }
            }
        })
    })
</script>

</body>
</html>
