<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring Gift</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<h1>Product List</h1>
<div class="top-bar">
    <a href="/api/products/new" class="add-product-link">Add new product</a>
</div>
<div class="table-container">
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Image URL</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${products}">
            <td th:text="${product.id}"></td>
            <td th:text="${product.name}"></td>
            <td th:text="${product.price}"></td>
            <td><img th:src="${product.imageUrl}" alt="product image" width="100"></td>
            <td>
                <div class="action-cell">
                    <a th:href="@{/api/products/{id}/edit(id=${product.id})}" class="action-link">✏️</a>
                    <form th:action="@{/api/products/{id}(id=${product.id})}" method="post" style="display:inline;" class="action-link">
                        <input type="hidden" name="_method" value="delete" />
                        <button type="submit" class="delete-btn">❌</button>
                    </form>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>