<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/style.css">
  </head>
  <body>
    <div class="container">
      <div>
        <h1><a href="/products">상품 관리 시스템</a></h1>
        <div class="container" id="div-search">
          <h3>상품 검색</h3>
          <form action="/products/search" method="get">
            <div class="form-group">
              <p><label for="name">상품 이름</label>
                <input type="text" id="name" name="name" placeholder="상품 이름을 입력하세요">
              </p>
            </div>
            <button type="submit">상품 검색</button>
          </form>
        </div>
        <a href="/products/new">상품 추가</a>
        <br>
        <table border ="1" width="50%" height=200 bordercolor="black">
          <thead>
            <tr>
              <th colspan="4">상품 목록</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>id</td>
              <td>name</td>
              <td>price</td>
              <td>imageUrl</td>
            </tr>
            <tr th:each="product : ${products}">
              <td th:text="${product.id}"></td>
              <td th:text="${product.name}"></td>
              <td th:text="${product.price}"></td>
              <td th:text="${product.imageUrl}"></td>
              <td><a th:href="@{/products/update/{id}(id = ${product.id})}">상품 수정</a></td>
              <td>
                <form th:action="@{/products/{id}(id=${product.id})}" method="post">
                  <input type="hidden" name="_method" value="delete"/>
                  <button type="submit">상품 삭제</button>
                </form>
              </td>
            </tr>
          </tbody>
        </table>
        <!--페이지 네이션-->
        <div th:if="${totalPages > 1}">
          <nav>
            <ul class="pagination">
              <li th:class="${currentPage == 0} ? 'page-item disabled' : 'page-item'">
                <a class="page-link" th:href="@{/products?page=${currentPage - 1}&size=${pageSize}}">이전</a>
              </li>
              <li th:each="pageNumber : ${#numbers.sequence(0, totalPages - 1)}" th:class="${pageNumber == currentPage} ? 'page-item active' : 'page-item'">
                <a class="page-link" th:href="@{/products?page=${pageNumber}&size=${pageSize}}" th:text="${pageNumber + 1}"></a>
              </li>
              <li th:class="${currentPage == totalPages - 1} ? 'page-item disabled' : 'page-item'">
                <a class="page-link" th:href="@{/products?page=${currentPage + 1}&size=${pageSize}}">다음</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div> <!-- /container -->
  </body>
</html>