<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>상품 목록</title>
  <link rel="stylesheet" th:href="@{/Products.css}">
</head>
<body>
<h1>상품 목록</h1>
<div>
  <a href="/admin/products/add" id="add">상품 추가</a>
</div>
<table>
  <thead>
  <tr>
    <th><a th:href="@{/admin/products(sortBy='id', direction=${sortDirection == 'asc' ? 'desc' : 'asc'})}">ID</a></th>
    <th><a th:href="@{/admin/products(sortBy='name.name', direction=${sortDirection == 'asc' ? 'desc' : 'asc'})}">이름</a></th>
    <th><a th:href="@{/admin/products(sortBy='price', direction=${sortDirection == 'asc' ? 'desc' : 'asc'})}">가격</a></th>
    <th>URL</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="product : ${products}">
    <td th:text="${product.id}"></td>
    <td th:text="${product.name.name}"></td>
    <td th:text="${product.price}"></td>
    <td th:text="${product.imageUrl}"></td>
    <td>
      <a th:href="@{/admin/products/edit/{id}(id=${product.id})}">수정</a> |
      <form th:action="@{/admin/products/{id}(id=${product.id})}" method="post" style="display:inline;">
        <input type="hidden" name="_method" value="DELETE" />
        <button type="submit">삭제</button>
      </form>
    </td>
  </tr>
  </tbody>
</table>
<div>
  <span th:if="${currentPage > 0}">
    <a th:href="@{/admin/products(page=${currentPage - 1}, size=${10}, sortBy=${sortBy}, direction=${direction})}">Previous</a>
  </span>
  <span th:each="i : ${#numbers.sequence(0, totalPages - 1)}">
    <a th:href="@{/admin/products(page=${i}, size=${10}, sortBy=${sortBy}, direction=${direction})}" th:text="${i + 1}"></a>
  </span>
  <span th:if="${currentPage < totalPages - 1}">
    <a th:href="@{/admin/products(page=${currentPage + 1}, size=${10}, sortBy=${sortBy}, direction=${direction})}">Next</a>
  </span>
</div>
</body>
</html>