<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Product List</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" type="text/css">

</head>
<body>
<div class="container">
    <h1>Product List</h1>
    <a class="btn btn-primary" th:href="@{/products/new}">Add New Product</a>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Image URL</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${products}">
            <td th:text="${product.id}"></td>
            <td th:text="${product.name}"></td>
            <td th:text="${product.price}"></td>
            <td th:text="${product.imageUrl}"></td>
            <td>
                <a class="btn btn-primary" th:href="@{/products/edit/{id}(id=${product.id})}">Edit</a>
                <a class="btn btn-danger" th:href="@{/products/delete/{id}(id=${product.id})}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
