<!-- ProductUpdatePage.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>상품 수정</title>
</head>
<body>
<a th:href="@{/}">상품 목록</a>
<h1>Product Update</h1>
<form th:action="@{/products/{id}(id=${product.id})}" th:object="${product}" method="post">
    <label for="name">상품명 :</label>
    <input type="text" id="name" th:field="*{name}" required>
    <br>
    <label for="price">가격 :</label>
    <input type="number" id="price" th:field="*{price}" required>
    <br>
    <label for="imageUrl">이미지 URL:</label>
    <input type="text" id="imageUrl" th:field="*{imageUrl}" required>
    <br>
    <label for="description">설명:</label>
    <textarea id="description" th:field="*{description}" required></textarea>
    <br>
    <button type="submit">Update Product</button>
    <a th:href="@{/products/{id}(id=${product.id})}">Cancel</a>
</form>
</body>
</html>
