<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: #dddddd;
    }

  </style>
  <script>
    window.onload = function() {
      console.log("");
      console.log("[window onload] : [start]");
      console.log("");
    };
  </script>
</head>
<body>
<!--토큰 전달되는지 확인-->
<!--<td th:text="${token.accessToken}"></td>-->
  <script>
    /*<![CDATA[*/
    var accessToken = "[[${token.accessToken}]]";
    localStorage.setItem('jwt', accessToken);
    location.href = '/api/wishlist'
  </script>

</body>
</html>
