<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>로그인 성공</title>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const token = /*[[${token}]]*/ 'DEFAULT_TOKEN';
      if (token && token !== 'DEFAULT_TOKEN') {
        localStorage.setItem('jwtToken', token);
        alert('토큰이 저장되었습니다.');
        window.location.href = '/wishlist';
      } else {
        alert('토큰을 저장하는 데 실패했습니다.');
        window.location.href = '/users/login';
      }
    });
  </script>
</head>
<body>
<div id="token-text" style="display: none;">[[${token}]]</div>
</body>
</html>