<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
<h2>상품 수정</h2>
<hr>
<form th:action="@{/api/products/update/{id}(id=${product.id})}" th:product="${product}" th:method="post">
  <table>

    <tr>
      <td>Name</td>
      <td><input type="text" th:field="*{product.name}"/></td>
    </tr>
    <tr>
      <td>Price</td>
      <td><input type="text" th:field="*{product.price}"/></td>
    </tr>
    <tr>
      <td>ImageUrl</td>
      <td><input type="text" th:field="*{product.imageUrl}"/></td>
    </tr>
    <tr><td><input type="submit" value="입력"></td></tr>
  </table>
</form>
</body>
</html>