<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Update Product</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/css/update-product.css}">

</head>

<div th:if="${errorMessage}" class="error-message">
  <p th:text="${errorMessage}"></p>
</div>
<body>
<h1>Update Product</h1>
<form th:action="@{/product/update}" th:object="${product}" method="post">
  <input type="hidden" name="_method" value="put"/>

  <div>
    <label for="id">Product ID:</label>
    <input type="hidden" id="id" th:field="*{id}" placeholder="Enter product ID"/>
  </div>
  <div>
    <label for="name">New Name:</label>
    <input type="text" id="name" th:field="*{name}" placeholder="Enter product name"/>
  </div>
  <div>
    <label for="price">New Price:</label>
    <input type="number" id="price" th:field="*{price}" placeholder="Enter product price"/>
  </div>
  <div>
    <label for="imageUrl">New Image URL:</label>
    <input type="text" id="imageUrl" th:field="*{imageUrl}" placeholder="Enter image URL"/>
  </div>
  <div>
    <button type="submit">Update Product</button>
  </div>
</form>
</body>
</html>

