<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>상품정보 수정</title>
</head>
<body>
<h1>상품정보 수정</h1>
<form action="#" th:action="@{/products/update/{id}(id=${productDTO.id})}" th:object="${productDTO}" method="post">
  <label>이름: <input type="text" th:field="*{name}" /></label></br>
  <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
  <label>가격: <input type="number" th:field="*{price}" /></label><br>
  <div th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Price Error</div>
  <label>이미지: <input type="text" th:field="*{imageUrl}" /></label><br>
  <div th:if="${#fields.hasErrors('imageUrl')}" th:errors="*{imageUrl}">imageUrl Error</div>
  <button type="submit">수정하기</button>
</form>
<a href="/products">돌아가기</a>
</body>
</html>
