<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org">
  <head>
    <meta http-equiv="Content-Type" , content="text/html; charset=UTF-8" />
    <link th:href="@{/css/login.css}" rel="stylesheet" />
    <script th:src="@{/js/main.js}" type="text/javascript"></script>
    <title>Registration Page</title>
  </head>
  <header>
    <span class="title y-middle x-start">Registration Page</span>
    <div id="buttons" class="x-end y-middle">
      <button type="button" class="normal-buttons" onclick="loadLoginPage()">
        뒤로 가기
      </button>
    </div>
  </header>
  <body>
    <form id="loginform" class="xy-middle">
      <table id="logintable">
        <tr>
          <td>
            <label for="email">이메일</label>
          </td>
          <td>
            <input type="email" name="email" id="email" required />
          </td>
        </tr>
        <tr>
          <td>
            <label for="password">비밀번호</label>
          </td>
          <td>
            <input type="password" name="password" id="password" required />
          </td>
        </tr>
      </table>
      <br />
      <button
        type="button"
        class="normal-buttons y-end x-middle"
        onclick="register()"
      >
        회원 가입
      </button>
    </form>
  </body>
  <script th:inline="javascript">
    async function register() {
      const targetUrl = '/api/registration';
      const email = document.getElementById('email').value;
      const password = document.getElementById('password').value;
      const headers = { 'Content-Type': 'application/json' };
      const body = JSON.stringify({
        email: email,
        password: password,
      });
      const method = 'post';

      const result = await requestApi(targetUrl, headers, body, method);

      if (result.response) {
        if (result.response == 'success') {
          alert('회원가입을 성공했습니다.');
          loadLoginPage();
        } else {
          alert(result.response);
        }
      } else {
        alert('알 수 없는 에러가 발생했습니다.');
      }
    }

    function loadLoginPage() {
      const targetUrl = '/';
      const headers = {};

      requestView(targetUrl, headers);
    }
  </script>
</html>
